@import "variables";
@import "grids";
@import "containers";
@import "margenes";
@import "titulos";
@import "parrafos";
@import "botones";
@import "imagenes";
@import "videos";
@import "pseudoClases";
@import "mediaQuaries";


//Para achicar ele spacio que ocupaba el grid ya desaparecido cuando se abre el video 100%
.noMargin {
    margin: 0;
}



.altura__imagenesCarrousel__shortfilms {
    height: 400px;
    object-fit: cover;
}

.IndexexistoSoloParaMobile {
    display: none;
}


.works__redesMobile__container {
    display: none;
}

@media (max-width:768px) {
    
    /* .cuerpo{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 0.5fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "index__logoMobile__container"; 
    }*/
    .IndexexistoSoloParaMobile {
        display: block;
    }
   

    .index_mobileMain_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2.1fr 0.4fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "index_logoMobile_container "
            "index_mainMobile_container "
            "index_redesMobile_container-derecha";
    }

    .index_logoMobile_container {
        grid-area: index_logoMobile_container;
    }

    .index_mainMobilecontainer {
        grid-area: indexmainMobile_container;
    }

    .index_redesMobile_container-derecha {
        grid-area: index_redesMobile_container-derecha;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navBar__index {
        display: none;
    }

    .carrousel__index__desaparecerMobile {
        display: none;
    }

    /*
    .IndexexistoSoloParaMobile{
        display:flex;
        flex-direction: column;
        color: white;
    }
#index__container__general img{
    display:none;
}
    }*/

    .index__logoMobile__container {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 40px;
    }

.index__menu__containerclips {
    /* height: 100px;
     width: 90px;
     left: 0px;
     top: 138px;
     ;*/
    
     width: 28px;
     height: 80px;
     left: 55px;
     top: 232px;
     border-bottom: 3px solid #850808;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     font-size: 30px;
     line-height: 37px;
     display: flex;
     align-items: center;
     text-align: center;
     letter-spacing: 0.245em;

     color: #FFFFFF;
 }
 .index__logoMobile__container div {
    width: 50%;
    height: 100%;
    border-bottom: #850808 4px solid;
}

}
    .index__menu__container { 
        width: 28px;
        height: 80px;
        left: 55px;
        top: 232px;
        border-bottom: 3px solid #850808;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.245em;
        
        color: #FFFFFF;
    }



.index__logoMobile__container h1 {
    position: absolute;
    width: 100%;
    height: 95px;
    left: 0px;
    top: 68px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.245em;
}

.index__mainMobile__container {
    grid-area: index__mainMobile__container;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index__mainMobile__container div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.index__mainMobile__container div a {
    text-decoration: none;
}



.index__mainMobile__container div a p {
   
   /* font-size: $tFuenteInfoCardsClipsTablet;*/
    font-family: Montserrat;
font-size: 30px;
font-weight: 400;
line-height: 37px;
letter-spacing: 0.245em;
text-align: center;
}

.index__btnMobile__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    grid-area: index__btnMobile__container;
}

.logo__instagramIndex__mobile {
    display: block;
}

.fondoNegro__body {
    background-color: black;
}



@media (max-width:633px) {
    .index__logoMobile__container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 40px;
}

.index__logoMobile__container h1 {
    position: absolute;
    width: 100%;
    height: 95px;
    left: 0px;
    top: 68px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.245em;
}

.index__mainMobile__container div a p {
    font-family: "Montserrat";
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.245em;
    text-align: center;
}

}




@media (max-width:404px) {
    .index__logoMobile__container h1 {
        position: absolute;
        width: 100%;
        height: 95px;
        left: 0px;
        top: 68px;
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.245em;
    }
    .index__mainMobile__container div a p {
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0.245em;
        text-align: center;
    }}


@media (max-width:400px) {
    .logo__insatagram__navbar {
        display: none;
    }
    
}
@media (max-width:399px) {
    .works__redesMobile__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 30px;
    }
    .navbar-nav {
        align-items: center;
    }
    .offcanvas-header .btn-close {
       
        margin-right: 80px;
       
    }
    .offcanvas-header .btn-close {
        margin-right: 130px;
    
}}

@media (max-width:375px){
    .offcanvas-header .btn-close {
    margin-right: 120px;
}}
@media (max-width:358px){
    .offcanvas-header .btn-close {
    margin-right: 100px;
}}

@media (max-width:328px){
    .offcanvas-header .btn-close {
    margin-right: 80px;
    .index__mainMobile__container div a p {
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0.245em;
        text-align: center;
    }
    .index__logoMobile__container {
        width: 100%;
        height: 0px; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 40px;
    }   
}}

@media (max-width:310px){
    .offcanvas-header .btn-close {
    margin-right: 70px;
}}













/*
@media (max-width:1024px) {
    #index__imagenCarrousel__container div h5 {
        font-size: 2.8rem;
    }

    #index__imagenCarrousel__container div {
        right: 29%;
    }
}
@media (max-width:1024px) {
   .index__mainMobile__container div a p {
    font-family: $tipografiaInfoCards;
   /* font-size: $tFuenteInfoCardsClipsTablet;
    font-family: Montserrat;
font-size: 25px;
font-weight: 400;
line-height: 37px;
letter-spacing: 0.245em;
text-align: center;
}
.navbar-nav {
    align-items: center;
}


}
*/

    

/*
@media (max-width:375px) {

    .works__redesMobile__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    }.works__redesMobile__container div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin-top: 40px;
    }

    .index__logoMobile__container {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    

    
        .index__logoMobile__container h1 {
            position: absolute;
            width: 100%;
            height: 95px;
            left: 0px;
            top: 68px;
            color: white;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 44px;
            text-align: center;
            letter-spacing: 0.245em;
        }
.index__mainMobile__container div a p {
    font-family: $tipografiaInfoCards;
   /* font-size: $tFuenteInfoCardsClipsTablet;
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 37px;
letter-spacing: 0.245em;
text-align: center;
margin-top: 0px;
}
.index__menu__container {
    height: 40px;
    width: 90px;
    left: 0px;
    top: 138px;
  

}
.index__menu__containerClips {
    height: 40px;
    width: 40px;
    left: 0px;
    top: 138px;
   
    

}

}


@media (max-width:300px) {


    .index__logoMobile__container h1 {
        position: absolute;
        width: 100%;
        height: 95px;
        left: 0px;
        top: 68px;
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.245em;
    }

.index__mainMobile__container div a p {
    font-family: "Montserrat";
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.245em;
    text-align: center;
}
} */

